/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font: menu;
    background: radial-gradient(#454545, #1b1b1b);
    /* Standard syntax */
  }
  
  html, body {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  input {
    opacity: 0;
    position: fixed;
  }
  
  .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container .please-scan {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
    margin-top: -50px;
  }
  .container .please-scan.visible {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
  .container .please-scan .image {
    height: 400px;
    width: 215px;
    background: url("/static/img/icon.gif");
    background-size: cover;
    margin: 0 auto;
  }
  .container .please-scan .title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
  }
  .container .searching {
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    margin-top: -200px;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in;
  }
  .container .searching.visible {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
  }

  .container .product{
    width: 80%;
    height: 80vh;
    background:white;
    border-radius: 8px;
    box-shadow: 5px 5px 25px black;
    margin: auto;
    position: relative;
    transition: 0.5s all ease-out;
    margin-top: -300px;
    opacity: 0;
  }

  .container .product.visible{
    margin-top: 0px;
    opacity: 1;
  }

  .container .product .image{
    background: grey;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40%;
    height: 80vh;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    box-shadow: 5px 0px 40px rgba(0,0,0,0.25);
    float: left;
  }

  .container .product .logo{
    position: absolute;
    background: white;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    width: 18%;
    height: 9vh;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    top:3%;
    right: 2%;
  }

  .container .product .title{
    margin-top:3%;
    margin-left: 3%;
    font-size: 3rem;
    width: 30%;
    font-weight:bold;
    overflow-y: hidden;
    float: left;
  }

  .container .product .description{
    padding-top:5%;
    padding-left: 3%;
    font-size:2rem;
    width: 50%;
    overflow-y: hidden;
    line-height: 2.7rem;
  }

  .container .product .reference{
    padding-top:5%;
    padding-left: 3%;
    float: left;
    font-size:1.5rem;
  }






  /*.container .product {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in;
  }
  .container .product.visible {
    visibility: visible;
    opacity: 1;
    margin-top: -150px;
  }
  .container .product .image {
    width: 300px;
    height: 300px;
    background: none center right no-repeat;
    background-size: contain;
    text-align: center;
    margin: auto;
  }
  .container .product .title {
    font-size: 30px;
    font-weight: bold;
  }
  .container .product .price {
    font-size: 35px;
    font-weight: bold;
  }*/
  