{% extends 'base/layout.twig' %}

{% block content %}
    <div class="container">
        <div class="please-scan">
            <div class="image"></div>
            <div class="title">Scan your product for more info!</div>
        </div>
    </div>
{% endblock %}
