{% extends 'base/layout.twig' %}

{% block content %}
    <div class="container">
        <div class="product">

            <div class="image" style="background-image: url(/{{ product.img }});">
            </div>
            <div class="logo" style="background-image: url(/{{ product.brandLogo }});">
            </div>
            <div class="title">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
            <div class="reference">{{ product.barcode }}</div>
            
            {# <div class="grid">
            <div>
                <div class="image" ></div>
            </div>
            <div> 
                <div class="title">{{ product.barcode }}</div>
                <div class="price">{{ product.name }}</div>
                <div class="description">{{ product.description }}</div>
            </div> #}
    
        </div> 
    </div> 
{% endblock%}
